@model IEnumerable<KouTrashCollector.Models.Customer>


<center>


        <h3 style="color:green"> <b>Membership Benefits</b></h3>
<table bag-color="black">

    <tr><td>- Recieve fast pick-up service</td></tr>
    <tr><td>- Recieve monthly discount coupons</td></tr>
    <tr><td>- Cleaner enviroment for their home and community</td></tr>


</table>
    <br />
    <br />


        <h3 style="color:green"> <b>Service Fees</b></h3>
        <table style="width:50%" height="50" border="1">
            <tr>
            <td align="center"><b>Once A Week</b></td>
            <td align="center"><b>Twice A Week</b></td>
            <td align="center"><b>Once A Month</b></td>
            <td align="center"><b>Twice A Month</b></td></tr>
            <tr>
            <td align="center">$25.00</td>
            <td align="center">$35.00</td>
            <td align="center">$8.00</td>
            <td align="center">$15.00</td></tr>
        </table>

    <br />



Help us keep the enviroment clean by joining today!<br /> <br />

@Html.ActionLink("Sign Up", "New", null, new { @class = "btn btn-primary" })

</center>