<h1 style="color:green"><b>Contact Us</b></h1>
 

    <address>
        <b style="color:white">Our Location</b><br />
        1234 Microsoft Drive<br />
        Milwaukee, WI 98052-6399<br />
        <abbr title="Phone">Phone:</abbr>
        414.555.0100
    </address>

    <b style="color:white">Got questions? Send us a message</b>


    <address>
        <strong>Support:</strong>   <a href="mailto:FrankFranken1985@gmail.com">FrankFranken1985@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="http://mail.google.com/mail/?view=cm&fs=1&tf=1&to=&su=">KoudKou@gmail.com</a>
    </address>
